<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.corecode.MacUpdater.alfred</string>
	<key>connections</key>
	<dict>
		<key>0B0C79ED-3530-44DE-98E2-EA1585BFB1D1</key>
		<array/>
		<key>4C49741F-2105-434A-80E3-9E73AA0ABC15</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>72D4BAA5-C3C1-4086-BCEA-6EADC0CA60FF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>D74948E9-838C-4DE9-9B25-91C4F84CE392</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0B0C79ED-3530-44DE-98E2-EA1585BFB1D1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>D74948E9-838C-4DE9-9B25-91C4F84CE392</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C21EB5C4-3EE9-468C-9BE6-50CCC90821A9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B2C394EE-619A-49A0-9969-0A540D60F625</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C21EB5C4-3EE9-468C-9BE6-50CCC90821A9</key>
		<array/>
		<key>E8273CDA-08EB-42B6-9760-4BAE1DD140F6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4C49741F-2105-434A-80E3-9E73AA0ABC15</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>CoreCode Limited</string>
	<key>description</key>
	<string>Keep all your software effortlessly up-to-date</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>MacUpdater</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Everything which can be auto-updated, will</string>
				<key>title</key>
				<string>Updating apps…</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>72D4BAA5-C3C1-4086-BCEA-6EADC0CA60FF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:check_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Grabbing outdated apps…</string>
				<key>script</key>
				<string>./macupdater 'show_outdated'</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>macupdater.rb</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Update with Macupdater</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E8273CDA-08EB-42B6-9760-4BAE1DD140F6</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./macupdater 'update_all'</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0B0C79ED-3530-44DE-98E2-EA1585BFB1D1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>update_all</string>
						<key>outputlabel</key>
						<string>Update All</string>
						<key>uid</key>
						<string>D74948E9-838C-4DE9-9B25-91C4F84CE392</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Update One</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>4C49741F-2105-434A-80E3-9E73AA0ABC15</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./macupdater "${1}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C21EB5C4-3EE9-468C-9BE6-50CCC90821A9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<true/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<true/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Updating app…</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>B2C394EE-619A-49A0-9969-0A540D60F625</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Usage

Run the Keyword (default: `mupdater`) to see a list of outdated software. Press ↩ to update.

![Alfred search for mupdater](images/about/mupdater.png)</string>
	<key>uidata</key>
	<dict>
		<key>0B0C79ED-3530-44DE-98E2-EA1585BFB1D1</key>
		<dict>
			<key>xpos</key>
			<real>415</real>
			<key>ypos</key>
			<real>175</real>
		</dict>
		<key>4C49741F-2105-434A-80E3-9E73AA0ABC15</key>
		<dict>
			<key>xpos</key>
			<real>220</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
		<key>72D4BAA5-C3C1-4086-BCEA-6EADC0CA60FF</key>
		<dict>
			<key>xpos</key>
			<real>415</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>B2C394EE-619A-49A0-9969-0A540D60F625</key>
		<dict>
			<key>xpos</key>
			<real>415</real>
			<key>ypos</key>
			<real>450</real>
		</dict>
		<key>C21EB5C4-3EE9-468C-9BE6-50CCC90821A9</key>
		<dict>
			<key>xpos</key>
			<real>415</real>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>E8273CDA-08EB-42B6-9760-4BAE1DD140F6</key>
		<dict>
			<key>xpos</key>
			<real>40</real>
			<key>ypos</key>
			<real>175</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>mupdate</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>check_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Do not show software which cannot be auto-updated</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Hide Manual Updates</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>hide_non_automatic</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Space-separated list. For all available options, run:
MacUpdater.app/Contents/Resources/macupdater_client</string>
			<key>label</key>
			<string>Update Options</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>update_options</string>
		</dict>
	</array>
	<key>version</key>
	<string>2022.4</string>
	<key>webaddress</key>
	<string>https://github.com/core-code/MacUpdater-Alfred-Workflow/</string>
</dict>
</plist>
